{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 100,
  "plugins": ["prettier-plugin-vue"],
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false
}

